<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-4 py-3">Code</th>
        <th scope="col" class="px-4 py-3">Location</th>
        <th scope="col" class="px-4 py-3">Date</th>
        <th scope="col" class="px-4 py-3">Species Type</th>
        <th scope="col" class="px-4 py-3">Participants</th>
        <th scope="col" class="px-4 py-3">Registration</th>
        <th scope="col" class="px-4 py-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of data; let i = index"
        class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700">
        <td class="px-4 py-3">{{ item.code }}</td>
        <td class="px-4 py-3">{{ item.location }}</td>
        <td class="px-4 py-3">{{ item.date | date: 'mediumDate' }}</td>
        <td class="px-4 py-3">{{ item.speciesType }}</td>
        <td class="px-4 py-3">{{ item.minParticipants }} - {{ item.maxParticipants }}</td>
        <td class="px-4 py-3">
          <span
            [ngClass]="item.openRegistration ? 'text-green-500' : 'text-red-500'">
            {{ item.openRegistration ? 'Open' : 'Closed' }}
          </span>
        </td>
        <td class="px-4 py-3 flex gap-2">
          <button
            (click)="editItem(item, i)"
            class="text-blue-600 dark:text-blue-500 hover:underline">
            Update
          </button>
          <button
            (click)="deleteItem(i)"
            class="text-red-600 dark:text-red-500 hover:underline">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="flex flex-wrap items-center justify-end gap-2 mt-6">
  <button
    (click)="previousPage()"
    [disabled]="currentPage === 0"
    class="px-3 py-2 bg-gray-300 text-gray-700 rounded-lg hover:bg-gray-400 disabled:bg-gray-200 disabled:cursor-not-allowed dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
    </svg>
  </button>

  <ng-container *ngFor="let page of getPages(); let i = index">
    <button
      (click)="loadPage(page)"
      [class.bg-blue-500]="page === currentPage"
      [class.text-white]="page === currentPage"
      [class.bg-gray-300]="page !== currentPage"
      [class.text-gray-700]="page !== currentPage"
      class="px-3 py-1 rounded-lg hover:bg-gray-400 dark:hover:bg-gray-600 dark:text-gray-300">
      {{ page + 1 }}
    </button>
  </ng-container>

  <button
    (click)="nextPage()"
    [disabled]="currentPage >= totalPage - 1"
    class="px-3 py-2 bg-gray-300 text-gray-700 rounded-lg hover:bg-gray-400 disabled:bg-gray-200 disabled:cursor-not-allowed dark:bg-gray-700 dark:text-gray-300 dark:hover:bg-gray-600">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
    </svg>
  </button>
</div>

