<div class="flex justify-between flex-col h-[100vh]">
  <app-header class="z-50"></app-header>
  <main class="mt-[5vh] mb-10">
    <router-outlet></router-outlet>
  </main>
  <app-footer class="z-50"></app-footer>
</div>

<!-- Scroll to Top Button -->
<button
  *ngIf="showScrollToTop"
  (click)="scrollToTop()"
  class="rotate-90 fixed bottom-10 right-2 md:right-10 w-12 h-12  flex items-center justify-center bg-yellow-400 text-gray-900 text-lg font-bold rounded-full shadow-lg hover:bg-yellow-500 transition duration-300">
  <span class="block transform rotate-180">></span>
</button>

