<div class="w-full grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3 px-10 lg:px-48 py-10">
  @for (competition of competitions ; track competition.id) {
    <div class="relative w-full max-w-lg bg-gray-900 shadow-xl rounded-lg overflow-hidden hover:shadow-2xl hover:scale-105 transition-transform duration-300">
      <!-- Background Image -->
      <div class="absolute inset-0">
        <img src="../../../../assets/images/home_bg-scaled.jpeg"
             alt="Competition Background"
             class="w-full h-full object-cover opacity-30">
      </div>

      <!-- Content -->
      <div class="relative p-8 z-10 text-white">
        <!-- Title -->
        <h1 class="text-xl font-bold mb-4 drop-shadow-lg text-yellow-400">
          {{competition.code}}
        </h1>

        <!-- Details -->
        <div class="mt-4 space-y-5">
          <!-- Date -->
          <div class="flex items-center text-yellow-400">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
            <span class="text-white">Date: {{competition.date}}</span>
          </div>

          <!-- Location -->
          <div class="flex items-center  text-yellow-400">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z" />
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
            <span class="text-white">Location: {{competition.location}}</span>
          </div>

          <!-- Participants -->
          <div class="flex items-center  text-yellow-400">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
            <span class="text-white">Participants: {{competition.minParticipants}} - {{competition.maxParticipants}}</span>
          </div>

          <!-- Species Type -->
          <div class="flex items-center text-yellow-400">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.9 7.1C13.2 4.6 11 .1 11 .1s-2.2 4.5-2.9 7c-.7 2.4-1.6 3.6-2.8 4.2-1.2.6-3.5.4-3.5.4s1.7 1.9 2.9 2.3c1.2.4 2.3 1.3 2.3 3.7 0 2.4-1.3 4-1.3 4s2.1-.8 3.4-2.4c1.3-1.6 3.2-2.1 3.2-2.1s1.8.5 3.2 2.1c1.3 1.6 3.4 2.4 3.4 2.4s-1.3-1.6-1.3-4c0-2.4 1.1-3.3 2.3-3.7 1.2-.4 2.9-2.3 2.9-2.3s-2.3.2-3.5-.4c-1.2-.6-2.1-1.8-2.8-4.2z" />
            </svg>
            <span class="text-white">Species: {{competition.speciesType}}</span>
          </div>
        </div>

        <!-- Registration Status -->



        @if(competition.openRegistration){
          <div class="mt-6 flex justify-center">
            <button
            (click)="participate(competition.id)"
              class="font-sans flex justify-center gap-2 items-center shadow-xl text-lg text-gray-50 bg-green-500 lg:font-semibold relative z-10 px-4 py-2 overflow-hidden border-2 rounded-full group hover:bg-green-600 hover:text-gray-900 transition-all duration-300"
              type="button"
            >
              Participate
              <svg
                viewBox="0 0 16 19"
                class="w-8 h-8 justify-end bg-gray-50 group-hover:rotate-90 text-gray-50 ease-linear duration-300 rounded-full p-2 rotate-45"
              >
                <path
                  class="fill-gray-800 group-hover:fill-gray-800"
                  d="M7 18C7 18.5523 7.44772 19 8 19C8.55228 19 9 18.5523 9 18H7ZM8.70711 0.292893C8.31658 -0.0976311 7.68342 -0.0976311 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 18L9 1H7L7 18H9Z"
                ></path>
              </svg>
            </button>
          </div>
          } @else {
          <div class="mt-6 flex justify-center">
            <button
              (click)="participate(competition.id)"
              disabled
              class="font-sans flex justify-center gap-2 items-center shadow-xl text-lg text-gray-50 bg-red-500 cursor-not-allowed lg:font-semibold relative z-10 px-4 py-2 overflow-hidden border-2 rounded-full group"
              type="button"
            >
            Not Open
              <svg
                viewBox="0 0 16 19"
                class="w-8 h-8 justify-end bg-gray-50 text-gray-50 ease-linear duration-300 rounded-full p-2 rotate-45"
              >
                <path
                  class="fill-gray-800"
                  d="M7 18C7 18.5523 7.44772 19 8 19C8.55228 19 9 18.5523 9 18H7ZM8.70711 0.292893C8.31658 -0.0976311 7.68342 -0.0976311 7.29289 0.292893L0.928932 6.65685C0.538408 7.04738 0.538408 7.68054 0.928932 8.07107C1.31946 8.46159 1.95262 8.46159 2.34315 8.07107L8 2.41421L13.6569 8.07107C14.0474 8.46159 14.6805 8.46159 15.0711 8.07107C15.4616 7.68054 15.4616 7.04738 15.0711 6.65685L8.70711 0.292893ZM9 18L9 1H7L7 18H9Z"
                ></path>
              </svg>
            </button>
          </div>
          }

      </div>
    </div>
  }
</div>
